.btn-test {
	display: inline-block !important;
	font-weight: 400 !important;
	text-align: center !important;
	vertical-align: middle !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	background-color: transparent !important;
	border: 1px solid transparent !important;
	padding: 0.375rem 0.75rem !important;
	font-size: 1rem !important;
	line-height: 1.5 !important;
	border-radius: 0.25rem !important;
	transition:
		color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out !important;
	margin: 5px !important;
	border-radius: 25px !important;
	padding: 12px 30px !important;
	text-transform: uppercase !important;
	letter-spacing: 2px !important;
	transition: all 200ms ease-in-out !important;
	font-family: futura-pt, sans-serif !important;
	text-transform: uppercase !important;
	box-shadow: none !important;
}

.btn-blue {
	background-color: #009fe3 !important;
	border-color: #009fe3 !important;
	color: #fff !important;
}

.btn-green {
	background-color: #6eba70 !important;
	border-color: #6eba70 !important;
	color: #fff !important;
}

.btn-pink {
	background-color: #e6007e !important;
	border-color: #e6007e !important;
	color: #fff !important;
}

.btn-purple {
	background-color: #684d9a !important;
	border-color: #684d9a !important;
	color: #fff !important;
}

.btn-orange {
	background-color: #c48c08 !important;
	border-color: #c48c08 !important;
	color: #fff !important;
}

.btn-yellow {
	background-color: #dbdc0d !important;
	border-color: #dbdc0d !important;
	color: #fff !important;
}

.btn-black {
	background-color: #100c08 !important;
	border-color: #100c08 !important;
	color: #fff !important;
}

.btn-text-pink {
	padding: 0 !important;
	border-radius: 0 !important;
	color: #e6007e !important;
	transform: none !important;
}

.btn-text-white {
	padding: 0 !important;
	border-radius: 0 !important;
	color: #fff !important;
	transform: none !important;
}

.btn-text-black {
	padding: 0 !important;
	border-radius: 0 !important;
	color: #100c08 !important;
	transform: none !important;
}

.btn-outline-black,
.btn-outline-dark {
	border-color: #100c08 !important;
	color: #100c08 !important;
	background-color: transparent !important;
}

.btn-outline-white,
.btn-outline-light {
	border-color: #fff !important;
	color: #fff !important;
	background-color: transparent !important;
}

.td-outline-white,
.td-text-white {
	background-color: #495057 !important;
}
